<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Projects</title>
  </head>

  <body>
    <div class="main-content">
      {{> header}}
      <p>Project text posted here</p>
    </div>
    
    {{> footer}}
  </body>
  
</html>